
@media screen and (max-width: 1180px) {
    nav {
        margin: 0 10px;
    }
    .banner {
        margin: 0 10px ;
    }
    .quick-fix {
        margin: auto 10px;
    }
}
@media screen and (max-width: 768px) {
    :root {
        --big-font: 25px;
    }
    nav ul {
        display: none;
    }
    nav .brand {
        font-size: 25px;
    }
    nav .menu {
        display: block;
    }
    header .content h1 {
        font-size: 35px;
    }
    .btn {
        padding: 10px 15px;
    }
    .quick-fix {
        flex-direction: column;
    }
    .quick-fix .teams {
        width: 100%;
    }
    .quick-fix .content {
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    header .content h1 {
        font-size: 30px;
    }
    nav .brand {
        font-size: 20px;
    }
    .quick-fix .teams {
        grid-template-columns: repeat(1, 1fr);
    }
}
