/* work sans font links  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}
:root {
    --para-font: 12px;
    --big-font: 30px;
    --md-font: 14px;
}
/* global styls */
.para {
    line-height: 1.4;
    letter-spacing: .1px;
    font-size: var(--para-font);
    color: #727272;
    line-height: 1.6;
}
.font-lz {
    font-size: var(--big-font);
}
.font-md {
    font-size: var(--md-font);
}
img { 
    width: 100%;
}
.btn {
    padding: 14px 18px;
    font-size: 14px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: bold;
    cursor: pointer;
}
li {
    list-style: none;
}
/* header style start  */
header {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 57px;
}

/* nav bar style here  */
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
}
nav ul {
    display: flex;
    text-transform: capitalize;
    gap: 50px;
    align-items: center;
}
nav ul li , nav h1{
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}
nav h1 {
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0 2px 1px #000000c9;
}
nav .menu {
    font-size: 20px;
    display: none;
    cursor: pointer;
}
/* header content  */
header .content {
    max-width: 590px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
header .content h1 {
    font-size: 43px;
}
header .content p {
    margin: 10px 0 15px 0;
}
.banner {
    margin: 0 auto;
    max-width: 1160px;
}
.banner img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
/* quick list  */
.quick-fix {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}
.quick-fix .teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 55%;
}
.quick-fix .content {
    width: 35%;
}
.quick-fix .content h2 {
    color: #727272;

}
.quick-fix .content h2 .black {
    color: black;
}
.quick-fix .content h2 .orenge {
    color: rgba(255, 144, 14, 1);
}
.quick-fix .content p {
    margin: 15px 0;
}
/* architeck section style */
.features {
    margin: 80px 0 120px auto;
    max-width: 1160px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}
.features .content {
    max-width: 430px;
}
.features .features-title {
    margin-bottom: 30px;
    & h2{
        padding-left: 15px;
        border-left: 5px solid #FF900E;
        margin-bottom: 15px;
    }
}
.features .content .ftrs {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px #0000001d;
}
.features .content .ftrs h3 {
    margin-bottom: 8px;
}
.features .arch {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    position: relative
}
.features .arch img{
    max-width: 90%; 
    margin-right: 10px;
    
}
.features .arch button {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -39px;
    left: 10px;
    padding: 25px 35px;
    cursor: default;
}
.features .arch button .big {
    font-size: 43px;
    
}
/* some fact  */
.some-fact {
    max-width: 1160px;
    margin: 90px auto;
    margin-bottom: 110px;
}
.some-fact .facts img {
    width: 30px;
}
.some-fact .caption h2 {
    margin-bottom: 10px;
}
.some-fact .caption {
    max-width: 390px;
    margin-bottom: 50px;
}
.some-fact .facts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 30px;
    gap: 70px;
}
.some-fact .facts div {
    border: 1.5px solid rgba(255, 144, 14, 1);
    border-radius: 5px;
    padding: 40px 30px;
    text-align: center;
}
.some-fact .facts div h2 {
    margin: 4px 0;
}
/* sponsors section style */
.sponsors {
    max-width: 1160px;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 100px;
}
.sponsors .title {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}
.sponsors .title h2 {
    margin-bottom: 10px;
}
.sponsors .brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 150px;
    align-items: center;
    margin: auto 10px;
    margin-top: 20px;
}
.sponsors .brands div {
    height: 40px;
}
.sponsors .brands img {
    filter: saturate(.1);
}
/* footer style */
footer div {
    max-width: 1160px;
    padding: 20px 0;
    text-align: center;
    background-color: rgba(255, 244, 231, 1);
    margin: 0 auto;
}
footer p {
    font-size: 14px;
}