/* work sans font links  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}
:root {
    --para-font: 12px;
    --big-font: 30px;
    --md-font: 14px;
}
/* global styls */
.para {
    line-height: 1.4;
    letter-spacing: .1px;
    font-size: var(--para-font);
    color: #727272;
}
.font-lz {
    font-size: var(--big-font);
}
.font-md {
    font-size: var(--md-font);
}
img { 
    width: 100%;
}
.btn {
    padding: 14px 18px;
    font-size: 14px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    letter-spacing: 1.2px;
    font-weight: bold;
    cursor: pointer;
}
li {
    list-style: none;
}
/* header style start  */
header {
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 57px;
}

/* nav bar style here  */
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 20px;
    align-items: center;
}
nav ul {
    display: flex;
    text-transform: capitalize;
    gap: 50px;
    align-items: center;
}
nav ul li , nav h1{
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}
nav h1 {
    font-size: 30px;
    font-weight: bolder;
    text-shadow: 0 2px 2px #000000c9;
}
nav .menu {
    font-size: 20px;
    display: none;
    cursor: pointer;
}
/* header content  */
header .content {
    max-width: 590px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
}
header .content h1 {
    font-size: 43px;
}
header .content p {
    margin: 10px 0 15px 0;
}
.banner {
    margin: 0 auto;
    max-width: 1160px;
}
.banner img {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
}
/* quick list  */
.quick-fix {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 50px;
}
.quick-fix .teams {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    width: 55%;
}
.quick-fix .content {
    width: 35%;
}
.quick-fix .content h2 {
    color: #727272;

}
.quick-fix .content h2 .black {
    color: black;
}
.quick-fix .content h2 .orenge {
    color: rgba(255, 144, 14, 1);
}
.quick-fix .content p {
    margin: 15px 0;
}